*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
}
html,body{
  height:100%;
  width:100%;
}
/* ----------------------------------------navbar------------------------------------ */

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 1.8vw 6.7vw;
    justify-content: space-between;
    height: 12vh;
    z-index: 10;
    background-color: #111
}
nav h1{
    font-size: 1.6vw;
    font-weight: 900;
}
.nav-part2{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    padding: 2vh;
    position: relative;
    z-index: 10;
}
.nav-part2 h4{
    text-transform: uppercase;
    font-size: 0.8vw;
    font-weight: 700;
    margin-bottom: 2.2vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span{
    font-size: 0.81vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button{
    background-color: #0DA34E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 700;
}

nav button svg{
    height: 1vw;
    margin-left: 1.4vw;
}

#nav-bottom{
    width: 86.8%;
    height: 0vh;
    position: absolute;
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid white;
}

/*-----------------------------------------------------page 1--------------------------------------------------*/
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    line-height: 1.6vw;
}
.page1-keys{
    font-size: 1vw;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 4px;
   border: 1px solid rgba(122, 120, 120, 0.774);
}
#moving-div{
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    padding: 1.2vw;
    white-space: nowrap;
    overflow: hidden;
    width: 48%;
}
#moving-div .move{
    display: inline-block;
    animation: move 10s linear 0s infinite;
}
#moving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
}
@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blurleft{
    height: 100%;
    width: 13%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#111,transparent);
    z-index: 2;
}
#blurright{
    height: 100%;
    width: 13%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right,transparent,#111);
    z-index: 2;
}
/* -----------------------------------------------------page 2------------------------------------------------------ */
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 6.7vw;
    padding-bottom: 6.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}

#page2-left{
    height: 100%;
    width: 40%;
    /* background-color: #0DA34E; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 0vw;
}
#page2-left p{
    font-size: 1vw;
}
#page2-left h5{
    width: 74%;
    font-weight: 500;
    font-size: 1.2vw;
}
#page2-right{
    height: 100%;
    width: 50%;
    /* background-color: #a0a30d; */
}
.right-elem {
    position: relative;
    height: 10vh;
    padding-top: 2vw;
    padding-bottom: 7.4vw;
    border-top: 1px solid #333;
}
.right-elem h2{
    font-size: 1.6vw;
    font-weight: 400;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    opacity: 0;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    scale:0;
}
/* -----------------------------------------------------page 3------------------------------------------------------ */

#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.page3-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page3-center h5{
    padding: 10px 15px;
    color: black;
    background-color: white;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 0.85vw;
    opacity: 0;
    margin-top: 1.1vw;
}
.page3-center .icon{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    border-radius: 50%;
}
.page3-center .icon i{
    color: black;
    font-size: 3vw;
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0); 
    opacity: 0;
    border-radius: 30px;
}
/* -----------------------------------------------------page 4------------------------------------------------------ */

#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 7vw 5.3vw;
}

.part4-left{
    height: 100%;
    width: 50%;
}
.part4-left h1{
    font-size: 3vw;
    width: 55%;
    color: black;
}
.part4-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part4-right-part{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.part4-right-part h5{
    font-size: 1vw;
    text-transform: uppercase;
    color: #A6A6A6;
    font-weight: 500;
}
.part4-right-part p{
    font-size: 1.6vw;
    color: black;
}
/* -----------------------------------------------------page 5------------------------------------------------------ */

#page5{
    height: 100vh;
    width: 100%;
    padding: 0 5.3vw;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.page5-box{
    width: 32.5%;
    height: 45%;
    border: 2px solid white;
    padding: 1.8vw;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-part{
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}
.page5-box h1{
    font-weight: 500;
    font-size: 4.5vw;
    color: black;
}
.page5-box p{
    color: #A6A6A6;
}
.box-part p{
    color: black;
}
/* -----------------------------------------------------page 6------------------------------------------------------ */

#page6{
    height: 80vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0vw 4vw;
}
#page6 .page6-text{
    width: 70%;
}
#page6 .page6-text .page-text-part{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    align-items: flex-start;
}

.page-text-part h5{
    margin-top: 10px;
    color: black;
    font-weight: 500;
    white-space: nowrap;
}
#page6 p{
    color: black;
    font-size: 2.5vw;
}
/* -----------------------------------------------------page 7------------------------------------------------------ */

#page7{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 6.5vw;
    padding-bottom: 10vh;
}
.sec-left{
    border-top: 2px solid #A6A6A6;
    height: 100%;
    width: 25%;
    padding-top: 3vh;
}
.sec-left h2{
    font-weight: 500;
    font-size: 2.5vw;
    color: black;
}

.sec-left-part{
    margin-top: 10vh;
}
.sec-left p{
    margin-top: 4vh;
    color: black;
    font-size: 1.2vw;
}
.sec-right{
    height: 100%;
    display: flex;
    width: 70%;
}
.sec-right img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}