*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
}
html,body{
  height:100%;
  width:100%;
}
/* ----------------------------------------navbar------------------------------------ */

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 1.8vw 6.7vw;
    justify-content: space-between;
    height: 12vh;
    z-index: 10;
    background-color: #111
}
nav h1{
    font-size: 1.6vw;
    font-weight: 900;
}
.nav-part2{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    padding: 2vh;
    position: relative;
    z-index: 10;
}
.nav-part2 h4{
    text-transform: uppercase;
    font-size: 0.8vw;
    font-weight: 700;
    margin-bottom: 2.2vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span{
    font-size: 0.81vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button{
    background-color: #0DA34E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 16px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 0.9vw;
    font-weight: 700;
}

nav button svg{
    height: 1vw;
    margin-left: 1.4vw;
}

#nav-bottom{
    width: 86.8%;
    height: 0vh;
    position: absolute;
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid white;
}

/*-----------------------------------------------------page 1--------------------------------------------------*/
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 8.5vw;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    line-height: 1.6vw;
}
.page1-keys{
    font-size: 1vw;
    padding: 5px 10px;
    border-radius: 50px;
    margin-top: 4px;
   border: 1px solid rgba(122, 120, 120, 0.774);
}
#moving-div{
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    padding: 1.2vw;
    white-space: nowrap;
    overflow: hidden;
    width: 48%;
}
#moving-div .move{
    display: inline-block;
    animation: move 10s linear 0s infinite;
}
#moving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
}
@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blurleft{
    height: 100%;
    width: 13%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#111,transparent);
    z-index: 2;
}
#blurright{
    height: 100%;
    width: 13%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right,transparent,#111);
    z-index: 2;
}
/* -----------------------------------------------------page 2------------------------------------------------------ */
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 6.7vw;
    padding-bottom: 6.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}

#page2-left{
    height: 100%;
    width: 40%;
    /* background-color: #0DA34E; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 0vw;
}
#page2-left p{
    font-size: 1vw;
}
#page2-left h5{
    width: 74%;
    font-weight: 500;
    font-size: 1.2vw;
}
#page2-right{
    height: 100%;
    width: 50%;
    /* background-color: #a0a30d; */
}
.right-elem {
    position: relative;
    height: 10vh;
    padding-top: 2vw;
    padding-bottom: 7.4vw;
    border-top: 1px solid #333;
}
.right-elem h2{
    font-size: 1.6vw;
    font-weight: 400;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    opacity: 0;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    scale:0;
}
/* -----------------------------------------------------page 3------------------------------------------------------ */

#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.page3-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page3-center h5{
    padding: 10px 15px;
    color: black;
    background-color: white;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 0.85vw;
    opacity: 0;
    margin-top: 1.1vw;
}
.page3-center .icon{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 4vw;
    border-radius: 50%;
}
.page3-center .icon i{
    color: black;
    font-size: 3vw;
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0); 
    opacity: 0;
    border-radius: 30px;
}
/* -----------------------------------------------------page 4------------------------------------------------------ */

#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 7vw 5.3vw;
}

.part4-left{
    height: 100%;
    width: 50%;
}
.part4-left h1{
    font-size: 3vw;
    width: 55%;
    color: black;
}
.part4-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part4-right-part{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.part4-right-part h5{
    font-size: 1vw;
    text-transform: uppercase;
    color: #A6A6A6;
    font-weight: 500;
}
.part4-right-part p{
    font-size: 1.6vw;
    color: black;
}
/* -----------------------------------------------------page 5------------------------------------------------------ */

#page5{
    height: 100vh;
    width: 100%;
    padding: 0 5.3vw;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.page5-box{
    width: 32.5%;
    height: 45%;
    border: 2px solid white;
    padding: 1.8vw;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-part{
    display: flex;
    flex-direction: column;
    gap: 1.3vw;
}
.page5-box h1{
    font-weight: 500;
    font-size: 4.5vw;
    color: black;
}
.page5-box p{
    color: #A6A6A6;
}
.box-part p{
    color: black;
}
/* -----------------------------------------------------page 6------------------------------------------------------ */

#page6{
    height: 80vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0vw 4vw;
}
#page6 .page6-text{
    width: 70%;
}
#page6 .page6-text .page-text-part{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    align-items: flex-start;
}

.page-text-part h5{
    margin-top: 10px;
    color: black;
    font-weight: 500;
    white-space: nowrap;
}
#page6 p{
    color: black;
    font-size: 2.5vw;
}
/* -----------------------------------------------------page 7------------------------------------------------------ */

#page7{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.section{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 6.5vw;
    padding-bottom: 3vh;
}
.sec-left{
    border-top: 2px solid #A6A6A6;
    height: 100%;
    width: 25%;
    padding-top: 3vh;
}
.sec-left h2{
    font-weight: 500;
    font-size: 2.5vw;
    color: black;
}

.sec-left-part{
    margin-top: 10vh;
}
.sec-left p{
    margin-top: 4vh;
    color: black;
    font-size: 1.2vw;
}
.sec-right{
    height: 100%;
    display: flex;
    width: 70%;
    position: relative;
}
.sec-right img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.sec-right video{
    height: 90%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity ease 0.3;
}
/* -----------------------------------------------------page 8------------------------------------------------------ */

#page8{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 12vh 6vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page8>button{
    text-transform: uppercase;
    font-size: 1vw;
    padding: 1.6vw 5vw;
    border-radius: 50px;
    border: none;
    background-color: #0DA34E;
    font-weight: 600;
    position: sticky;
    top: 22%;
}
.page8-right{
    width: 70%;
}
.page8-right>p{
    font-size: 2.3vw;
}
.page8-right>p span{
    font-size: 15px;
    width: 19vw;
    display: inline-block;
}
.page8-content{
    width: 100%;
    margin-top: 12vh;
    padding: 4vh 0;
    border-top: 2px solid white;
}
.page8-content h1{
    font-size: 3vw;
}
.page8-content #btnGrp{
    display: flex;
    margin-top: 5vh;
    gap: 1px;
}
.page8-content #btnGrp h4{
    font-size: 0.8vw;
    padding: 0.5vw 1vw;
    border: 1px solid #f5f5f563;
    border-radius: 50px;
}
.page8-container{
    margin-top: 7vh;
}
.container-elem{
    display: flex;
    border-top: 1px solid #dadada4b;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3.5vh;
    padding-bottom: 11vh;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
}
.container-elem h4{
    width: 20%;
    font-weight: 400;
    font-size: 1.5vw;
    position: relative;
    z-index: 8;
    transition: all ease 0.3s;
}
.container-elem p{
    font-weight: 500;
    font-size: 0.9vw;
    position: relative;
    z-index: 8;
    width: 53%;
}
.container-elem i{
    position: relative;
    font-size: 20px;
    z-index: 8;
    transition: all ease 0.3s;
}
.hovereffect{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: #1F1F1F;
    transform: translateY(-100%);
    opacity: 0;
    transition: all ease 0.7s;
}
.container-elem:hover{
    border-top: 1px solid white;
}
.container-elem:hover h4{
    padding-left: 0.8vw;
}
.container-elem:hover i{
    padding-right: 0.8vw;
}
.container-elem:hover .hovereffect{
    transform: translateY(0);
    opacity: 1;
}
summary::marker{
   content: "";
}
summary{
    position: relative;
}
#show{
    position: absolute;
    top: 0;
    right: 0;
    transition: all ease 0.3s;
    font-size: 1.5vw;
}
details[open] #show{
    transform: rotate(180deg);
}
/* -----------------------------------------------------page 9------------------------------------------------------ */

#page9{
    min-height: 100vh;
    width: 100%;
    padding: 15vh 6.7vw;
    background-color: #111;
}
.page9-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
    border-top: 1px solid #333;
    padding: 12vh 12vw;
}
.page9-part h2{
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
}
.page9-part p{
    text-align: center;
    font-size: 2.3vw;
    font-weight: 500;
}
.page9-part2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
}
.page9-box{
    width: 32.7%;
    padding: 1.2vw 1.1vw;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18vh;
}
.page9-box p{
    font-weight: 500;
    font-size: 0.9vw;
}
.page9-box-part{
    display: flex;
    justify-content: space-between;
}
.page9-box-part h3{
    font-size: 1.6vw;
    font-weight: 500;
}
.page9-box-part i{
    font-size: 2vw;
}
.outer-cricle{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
.page9-circle{
    height: 11vw;
    width: 11vw;
    background-color: #0DA34E;
    border-radius: 50%;
    position: relative;
}

.page9-circle p{
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    left: 20%;
    bottom: 20%;
    font-size: 0.9vw;
}
.page9-circle i{
    position: absolute;
    font-size: 1.2vw;
    top: 20%;
    right: 15%;
}
/* -----------------------------------------------------page 10------------------------------------------------------ */

#page10{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 5vh 8vw;
}
#page10>h1{
    font-size: 5.7vw;
    color: #111;
    padding-left: 22vw;
    padding-right: 5vw;
    margin-top: 5.4vh;
    padding-bottom: 15vh;
    line-height: 5.8vw;
    border-bottom: 1px solid #dadada;
}

#page10-content{
    display: flex;
    padding: 10vh 0vw;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
}
#blueBtn{
    width: 19vw;
    height: 4.2vw;
    font-size: 0.95vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F5BFF;
}
#blueBtn h4{
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
}
#blueBtn i{
    font-weight: 400;
    font-size: 1.4vw;
}
#page10-content #page10-right
{
    width: 70%;
}
#page10-content #page10-right p{
    font-size: 1.6vw;
    margin-bottom: 5vh;
    width: 73%;
    color: black;
}
#page10-bottom{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.bottom10-part1{
    border-right: 1px solid #dadada;
    width: 35%;
    height: 100%;
}
.bottom10-part2{
    border-right: 1px solid #dadada;
    width: 28%;
    height: 100%;
}
.bottom10-part3{
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
}
.bottom10-part4{
    
    border-right: 1px solid #dadada;
    width: 20%;
    height: 100%;
}
.bottom10-part5{
    width: 20%;
    height: 100%;
}
.btm10-parts{
    padding: 3vh 5px;
}
.btm10-parts h5{
    color: black;
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 5vh;
}
.btm10-parts h4{
    background-color: #111;
    width: 90%;
    padding: 6px 6px;
    margin-bottom: 3px;
    font-size: 0.95vw;
    font-weight: 400;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.btm10-parts h4 span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8vw;
    height: 1.8vw;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 1vw;
    background-color: #333;
}
.btm10-parts h4:nth-child(2){
    transform: translateX(0%);
}
.bottom10-part2 h4:nth-child(3){
    transform: translateX(10%);
}
.bottom10-part2 h4:nth-child(4),.bottom10-part3 h4:nth-child(3),.bottom10-part4 h4:nth-child(3){
    transform: translateX(20%);
}
.bottom10-part2 h4:nth-child(5){
    transform: translateX(30%);
}
.bottom10-part2 h4:nth-child(6),.bottom10-part4 h4:nth-child(4){
    transform: translateX(40%);
}
.bottom10-part2 h4:nth-child(7){
    transform: translateX(50%);
}
